/*last css to be applied*/

.c3-grid line {
  stroke: none;
}

.c3-axis-x > path.domain, .tick > line[x2="-6"] {
  visibility: hidden;
}

.blankSpace{
	height: 200px;
	width: 100px;
	background-color: #0066ff;
}



h4{
	

}


.datadriven{
	color: #ffffff;
}

.header{
	height: 200px;
	width: 100%;
	background-color: #262626;
	vertical-align: bottom;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.datasource{
	font-size: 8px;
}

.imageNote{
	font-size: 8px;
}

.htext{
position: absolute;
	bottom: 0px;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

.container{
	width:90%;
    margin:50% auto;
    background:#ffffff;
    margin-top: 0;
}

.indent{
	text-indent: 20px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.dateInfo{

}

.authorInfo{
	font-size: 11px;
}

#chart_div{
	margin-bottom: 30px;

}


#cafoFarm{
    position: absolute;
    top: 1px;
    left: 1px;
    width:100%;
    height:100%;
}

#stateOutbreaks{
	position: absolute;
    top: 1px;
    left: 1px;
    width:100%;
    height:100%;
}




.holdVis{
    position: relative; 
    width: 85%;
    padding-bottom: 40%;
    height: 0;
    overflow:hidden;
}

.holdStateOutbreaks{
    position: relative; 
    width: 100%;
    padding-bottom: 40%;
    height: 0;
    overflow:hidden;
}


html{
    font: 10px sans-serif;
}

svg{
    border: 1px solid silver;
}

.node{
    cursor: pointer;
}

.node circle{
    stroke: #17C247;
    stroke-width: 1.5px;
}

.link{
    fill: none;
    stroke: #17C247;
    stroke-width: 1.5px;
}